:root {
  --primary-color-light: rgb(238, 240, 235);
  --secondary-color-light: rgb(180, 184, 171);
  --primary-color-dark: rgb(40, 75, 99);
  --secondary-color-dark: rgb(21, 50, 67);
  --tertiary-color-dark: rgb(109, 33, 60);
  color: var(--secondary-color-dark);
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--primary-color-dark);
}

.loggedInLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--secondary-color-dark);
  padding: 3px;
}

h1 {
  font-size: 1.4rem;
  padding: 3px;
  color: var(--primary-color-light);
  font-weight: normal;
  cursor: pointer;
}

nav {
  /* height: 3.2rem; */
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 3px;
}

.navBar {
  position: sticky;
  top: 0%;
  z-index: 5;
  border: 1px solid var(--secondary-color-dark);
  background-color: var(--primary-color-light);
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
}

.navLink {
  cursor: pointer;
  text-decoration: none;
  animation: 0.4s ease-out 0s 1 slideInFromLeft;
  /* animation-delay: 0.4s; */
  user-select: none;
  margin: 10px;
  background-color: var(--secondary-color-dark);
  color: var(--primary-color-light);
  border: 1px solid var(--secondary-color-dark);
  -webkit-box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
}

.navLink:hover {
  background-color: var(--tertiary-color-dark);
}

.navArrow {
  animation: 0.4s ease-out 0s 1 slideInFromLeftArrow;
  color: var(--secondary-color-dark);
}

/* .navLink:last-of-type {
  background-color: rgb(175, 255, 255);
} */

.navhr {
  width: 100vw;
  margin: 0px;
  border: 1px solid var(--secondary-color-dark);
}

.classSelection {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 10px;
  background-color: var(--primary-color-light);
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
}

.classBoxContainer {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 5px;
  /* justify-content: space-evenly; */
}

.classDeleteButton {
  position: fixed;
  top: 0%;
  right: 0%;
  margin: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.classBox {
  height: 100px;
  width: 15rem;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-light);
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
}

.newClassBox {
  justify-content: center;
  align-items: center;
  border: 5px double black;
  user-select: none;
  cursor: pointer;
}

.classBox:hover {
  background-color: var(--secondary-color-light);
}

.classBoxSelecting {
  background-color: var(--secondary-color-light);
}

.classBoxSelecting:hover {
  background-color: rgb(166, 166, 166);
}

.icon {
  margin: 15px;
}

.classHome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.classHomeSelector {
  height: 100px;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary-color-light);
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
}

.classHomeSelector:hover {
  background-color: var(--secondary-color-light);
}

.assignmentPanel {
  display: flex;
  border-radius: 5px;
}

.studentPanel {
  display: flex;
}

.markUpdatePanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  background-color: var(--primary-color-light);
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  max-height: 72vh;
}

.studentDetailsPanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 0px 50px; */
  overflow: scroll;
  margin: 10px;
  padding: 20px;
  background-color: var(--primary-color-light);
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
}

.selectorColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  overflow: scroll;
  padding: 12px;
  margin: 10px;
  background-color: var(--primary-color-light);
  border: 1px solid black;
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  max-height: 72vh;
  /* width: 20rem; */
}

h3 {
  margin: 10px;
}

.assignmentOrStudentSelectorBox {
  height: 50px;
  width: 15rem;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  overflow-x: hidden;
}

.assignmentOrStudentSelectorBox:hover {
  background-color: rgb(214, 214, 214);
}

.newAssignmentOrStudent {
  border: 5px double black;
  user-select: none;
  cursor: pointer;
}

.selectedAssignmentOrStudent {
  background-color: var(--secondary-color-light);
  cursor: default;
}

.selectedAssignmentOrStudent:hover {
  background-color: var(--secondary-color-light);
}

.tableRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  align-items: center;
  border: 1px solid black;
  margin: 1px;
}

.studentDetailsRow {
  display: grid;
  grid-template-columns: 8rem 1fr;
  padding: 20px;
  align-items: center;
}

.studentDetailsGrid {
  display: grid;
  grid-template-rows: 4.75rem 4.75rem 4.75rem 4.75rem;
}

.editMarksAndStudentDetailsButtonContainer {
  display: flex;
  gap: 15px;
  margin: 20px;
  justify-content: center;
}

.summaryHome {
  display: flex;
  /* justify-content: space-between; */
}

.summaryTable {
  margin: 10px;
  padding: 20px;
  background-color: var(--primary-color-light);
  overflow-y: scroll;
  max-height: 72vh;
  /* width: 32rem; */
  flex-wrap: wrap;
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
}

.summaryRow {
  display: grid;
  grid-template-columns: 16rem 6.5rem 8rem;
}

.summaryRow:hover:not(:first-of-type):not(.summarySelected) {
  background-color: rgb(214, 214, 214);
}

.overallRow {
  display: grid;
  grid-template-columns: 16rem 6.5rem 8rem;
}

.summaryColumn {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.summarySelected {
  background-color: var(--secondary-color-light);
}

.graphPanel {
  display: flex;
  margin: 10px;
  justify-content: center;
  width: 45rem;
}

.graph {
  width: 90%;
  display: flex;
  transform: translateY(-70px);
}

.graphText {
  color: var(--primary-color-light);
}

.muiButton {
  -webkit-box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.82);
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0.01;
    transform: translateX(-6vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeftArrow {
  0% {
    opacity: 0.01;
    transform: translateX(-3vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1182px) {
  .assignmentOrStudentSelectorBox {
    width: 12rem;
  }
}

@media screen and (max-width: 1130px) {
  .assignmentOrStudentSelectorBox {
    width: 9rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 891px) {
  /* .assignmentPanel {
    flex-direction: column;
  } */
}

@media screen and (max-width: 542px) {
  .assignmentOrStudentSelectorBox {
    width: 5rem;
  }

  .navLink {
  }
}
