.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.loggedInLayout {
  width: 95vw;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 1.4rem;
}

nav {
  /* height: 3.2rem; */
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 10px;
}

.navLink {
  cursor: pointer;
  text-decoration: none;
  animation: 0.4s ease-out 0s 1 slideInFromLeft;
  /* animation-delay: 0.4s; */
  user-select: none;
  margin: 10px;
}

.navArrow {
  animation: 0.4s ease-out 0s 1 slideInFromLeftArrow;
}

/* .navLink:last-of-type {
  background-color: rgb(175, 255, 255);
} */

hr {
  width: 100%;
  margin: 5px;
}

.classSelection {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.classBoxContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.classDeleteButton {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 10px;
  background-color: rgb(237, 246, 249);
  color: rgb(0, 109, 119);
  border: 1px solid black;
  border-radius: 0px;
}

.classBox {
  height: 100px;
  width: 15rem;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newClassBox {
  justify-content: center;
  align-items: center;
  border: 5px double black;
  user-select: none;
  cursor: pointer;
}

.classBox:hover {
  background-color: antiquewhite;
}

.classBoxSelecting {
  background-color: gray;
}

.classBoxSelecting:hover {
  background-color: rgb(166, 166, 166);
}

.icon {
  margin: 15px;
}

.classHome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.classHomeSelector {
  height: 100px;
  width: 90%;
  margin: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classHomeSelector:hover {
  background-color: antiquewhite;
}

.assignmentPanel {
  display: flex;
}

.studentPanel {
  display: flex;
}

.markUpdatePanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 50px;
  overflow: scroll;
  height: 100vh;
}

.studentDetailsPanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 50px;
  overflow: scroll;
  height: 100vh;
  margin-top: 20px;
}

.selectorColumn {
  display: flex;
  flex-direction: column;
  padding: 0px;
  overflow: scroll;
  height: 100vh;
  padding: 12px;
  margin: 10px;
  /* width: 20rem; */
}

h3 {
  margin: 10px;
}

.assignmentOrStudentSelectorBox {
  height: 100px;
  width: 15rem;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.newAssignmentOrStudent {
  border: 5px double black;
  user-select: none;
  cursor: pointer;
}

.assignmentOrStudentSelectorBox:hover {
  background-color: antiquewhite;
}

.tableRow {
  display: grid;
  grid-template-columns: 16rem 6.5rem 5rem;
  padding: 10px;
  align-items: center;
  border: 1px solid black;
  margin: 1px;
}

.studentDetailsRow {
  display: grid;
  grid-template-columns: 8rem 16rem;
  padding: 10px;
  align-items: center;
}

.studentDetailsGrid {
  display: grid;
  grid-template-rows: 4.75rem 4.75rem 4.75rem 4.75rem;
}

.editMarksAndStudentDetailsButtonContainer {
  display: flex;
  gap: 15px;
  margin: 20px;
  justify-content: center;
}

.summaryHome {
  display: flex;
  /* justify-content: space-between; */
}

.summaryTable {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: scroll;
  height: 97vh;
  /* width: 32rem; */
  flex-wrap: wrap;
}

.summaryRow {
  display: grid;
  grid-template-columns: 16rem 6.5rem 8rem;
}

.summaryRow:hover:not(:first-of-type):not(.summarySelected) {
  background-color: antiquewhite;
}

.overallRow {
  display: grid;
  grid-template-columns: 16rem 6.5rem 8rem;
}

.summaryColumn {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.summarySelected {
  background-color: rgb(214, 214, 214);
}

.graphPanel {
  display: flex;
  margin: 10px;
  justify-content: center;
  width: 45rem;
}

.graph {
  width: 600px;
  display: flex;
  transform: translateY(-70px);
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0.01;
    transform: translateX(-6vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeftArrow {
  0% {
    opacity: 0.01;
    transform: translateX(-3vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
