.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.loggedInLayout {
  width: 95vw;
}

.classSelection {
  display: flex;
  flex-direction: column;
}

.classBoxContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.classDeleteButton {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 10px;
  background-color: rgb(237, 246, 249);
  color: rgb(0, 109, 119);
  border: 1px solid black;
  border-radius: 0px;
}

.classBox {
  height: 100px;
  width: 15rem;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newClassBox {
  justify-content: center;
  align-items: center;
  border: 5px double black;
}

.classBox:hover {
  background-color: antiquewhite;
}

.classBoxSelecting {
  background-color: gray;
}

.classBoxSelecting:hover {
  background-color: rgb(166, 166, 166);
}

.icon {
  margin: 15px;
}

.classHome {
  display: flex;
  flex-wrap: wrap;
}

.classHomeSelector {
  height: 100px;
  width: 100px;
  margin: 20px;
  border: 1px solid black;
}

.classHomeSelector:hover {
  background-color: antiquewhite;
}

.assignmentPanel {
  display: flex;
}

.studentPanel {
  display: flex;
}

.markUpdatePanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 50px;
  overflow: scroll;
  height: 100vh;
}

.studentDetailsPanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 50px;
  overflow: scroll;
  height: 100vh;
  margin-top: 20px;
}

.selectorColumn {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  overflow: scroll;
  height: 100vh;
}

.assignmentOrStudentSelectorBox {
  height: 100px;
  width: 15rem;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-shrink: 0;
}

.assignmentOrStudentSelectorBox:hover {
  background-color: antiquewhite;
}

.tableRow {
  display: grid;
  grid-template-columns: 16rem 6.5rem 5rem;
  padding: 10px;
  align-items: center;
}

.studentDetailsRow {
  display: grid;
  grid-template-columns: 8rem 16rem;
  padding: 10px;
  align-items: center;
}

.studentDetailsGrid {
  display: grid;
  grid-template-rows: 4.75rem 4.75rem 4.75rem 4.75rem;
}

.editMarksAndStudentDetailsButtonContainer {
  display: flex;
  gap: 15px;
  margin: 20px;
  justify-content: center;
}

.summaryHome {
  display: flex;
}

.summaryTable {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: scroll;
  height: 97vh;
}

.summaryRow {
  display: grid;
  grid-template-columns: 16rem 6.5rem 6.5rem;
}

.summaryRow:hover:not(:first-of-type):not(.summarySelected) {
  background-color: antiquewhite;
}

.summaryColumn {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.summarySelected {
  background-color: rgb(214, 214, 214);
}
